.navbar-nav.navbar-right:last-child {
margin-right: 0px !important;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

/*footer*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

body{
    font-family: 'Lato', sans-serif;
}

footer{
     background-color:#252525;
     padding:30px 0px;
}	       

.adress span , .menu span{
   color: #FFF; 
   font-weight: 800; 
   border-bottom: 1px solid #c7c7c7; 
   padding-bottom: 10px; 
   margin-bottom: 20px;
   display: block;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 3px;
}
 
.adress , .menu{
    list-style: none;
    padding:50px 0px;
}

.adress li , .menu li{
    margin:10px 0px;
}

.adress li a , .menu li a{
    color:#FFF;
    text-decoration:none;
    font-size:16px;
}

#icons .fa{
    font-size:25px;
    color: #3d6c8a;
}

.btn-large{
    background:#3d6c8a;
    border:none;
	color:#FFF;
	height: 45px;
    width:40%;
}


